@{
    ViewBag.Title = "Indie Game Store ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                The Indie Game Store is the #1 place to pretend to buy the latest and most popular games!
            </p>
        </div>
    </section>
}
<h3>Click below to see a full list of available titles, or search to find a specific game.</h3>

<section class="consumer-options">
    @Html.ActionLink("All Games", "Index", "Game", new { }, new { @class="mediumLink float-left" })
    @using (Html.BeginForm("Index", "Game", FormMethod.Post, new { @class="float-right" }))
    {
        @Html.TextBox("query", null, new { name="query", placeholder="Enter a game title" })
        @Html.TextBox("gameSearch", "Search", new { type = "submit" })
    }
</section>
